
#---------------------------------------
#         MACOS TEMP FILES
.DS_Store
.Trashes
*.swp

#---------------------------------------
#            XCODE FILES
xcuserdata/
*.xcscmblueprint
*.xccheckout
timeline.xctimeline
playground.xcworkspace

#---------------------------------------
#           OBJECT FILES
**/obj/*
*.o
*.ko
*.obj
*.elf

#---------------------------------------
#            EXECUTABLES
**/bin/*
*.exe
*.out

#---------------------------------------
#    README FILE IS ALWAYS INCLUDED
!README.txt
!README.md



#-- LINKER OUTPUT ----------
*.ilk
*.map
*.exp
#-- PRECOMPILED HEADERS ----
*.gch
*.pch
#-- LIBRARIES --------------
*.lib
*.a
*.la
*.lo
#-- SHARED OBJECTS ---------
*.dll
*.so
*.so.*
*.dylib
#-- DEBUG FILES ------------
*.dSYM/
*.su
*.idb
*.pdb
##-- LOCK FILES ------------
*.lock

