
#-- MACOS TEMP FILES ---------
.DS_Store
.Trashes
*.swp

#-- XCODE FILES --------------
xcuserdata/
*.xcscmblueprint
*.xccheckout
timeline.xctimeline
playground.xcworkspace

#-- OBJECT FILES -------------
obj/
*.o
*.ko
*.obj
*.elf

#-- LINKER OUTPUT ------------
*.ilk
*.map
*.exp

#-- PRECOMPILED HEADERS ------
*.gch
*.pch

#-- LIBRARIES ----------------
*.lib
*.a
*.la
*.lo

#-- SHARED OBJECTS -----------
*.dll
*.so
*.so.*
*.dylib

#-- EXECUTABLES --------------
bin/
*.exe
*.out

#-- DEBUG FILES --------------
*.dSYM/
*.su
*.idb
*.pdb

##-- LOCK FILES --------------
*.lock

